    <nav class="bg-blue-600 p-4 text-white flex justify-between items-center">
        <div class="flex items-center">
          <img src="../../../assets/asifvisas-logo.jpg" alt="AsifVisas Logo" class="h-10 mr-3">
          <span class="text-xl font-bold">AsifVisas</span>
        </div>
        <button class="block md:hidden" (click)="toggleMenu()">
          <span class="material-icons">menu</span>
        </button>
      </nav>
<div *ngIf="menuOpen" class="navbar bg-blue-500 text-white text-center md:hidden p-4 space-y-2">
  <a routerLink="/about-me" class="block">About Me</a>
  <a routerLink="/services" class="block">Services</a>
  <a routerLink="/contact-us" class="block">Contact Us</a>
</div>